*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(assets/images/kelas.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
    font: bolder;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;

}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: rgb(31, 48, 102);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/* WHY US */
.whyUs{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}
h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.whyUs-col{
    flex-basis: 31%;
    background: #f1e5e5;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 80px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.whyUs-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
        
    }
}

/* our program */
.program{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.program-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.program-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.layer:hover{
    background: rgba(255, 200, 0, 0.9);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 50%;
    opacity: 1;
}
@media(max-width: 700px){
    .program-col img{
        width: auto;
        display: block;
    }
}

/* Contact */
.contact {
    margin: 150px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(assets/images/customerService.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}
.contact h1{
    font-weight: 400;
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .contact h1{
        font-size: 20px;
    }
}

/* footer */
.footer{
    background-color: rgb(10, 34, 78);
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin-top: 250px;
}

.footer h2{
    color: #f1e5e5;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer h5{
    color: #fff;
    font-weight: 400;
}
.icons .fa{
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-facebook{
    color: rgb(12, 74, 245);
}
.fa-twitter{
    color: rgb(60, 133, 243);
}
.fa-instagram{
    color: rgb(240, 47, 72);
}
.fa-youtube{
    color: rgb(247, 15, 15);
}

/* program sd */
.bg-modal-sd{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-content-sd{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}
.close-sd{
    font-weight: 300;
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 14px;
    transform: rotate(45deg);
    cursor: pointer;
}

/* program smp */
.bg-modal-smp{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-content-smp{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}
.close-smp{
    font-weight: 300;
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 14px;
    transform: rotate(45deg);
    cursor: pointer;
}

/* program sma */
.container{
    padding: 16px;
}
.bg-modal-sma{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-content-sma{
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}
.close-sma{
    font-weight: 300;
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 14px;
    transform: rotate(45deg);
    cursor: pointer;
}

/* register */
.button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-size: 12px;
    background-color: rgb(12, 65, 209);
    position: relative;
    cursor: pointer;
    border-radius: 20px;
}
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-content{
    width: 600px;
    height: 600px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
  
}
.close{
    font-weight: 300;
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 14px;
    transform: rotate(45deg);
    cursor: pointer;
}

/* Full-width input fields */
input, select {
  width: 100%;
  padding: 15px 8px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #d9eef7;
}

input:focus, select:focus {
  background-color: #ddd;
  outline: none;
}

h2 {
  margin-bottom: 30px;
}

.program-col h2{
    margin-bottom: 10px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 30px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

hr{
    border: 1px solid #b31313;
    margin-bottom: 25px;
}

h4{
    margin-top: 30px;
}